In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
%config Inlinebackend.figureformat='retina'

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Colab_Notebooks/churn predictor/Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
# Checking the shape of data_set
dataset.shape

(10000, 14)

In [ ]:
# splitting the dataset into dependent and independent variables
y = dataset.pop("Exited")
X = dataset

In [ ]:
X.shape, y.shape

((10000, 13), (10000,))

In [ ]:
X.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
dtypes: float64(2), int64(8), object(3)
memory usage: 1015.8+ KB

In [ ]:
# Dropping unnecessary columns
X.drop(columns=["RowNumber","CustomerId","Surname"], inplace =True)

In [ ]:
X.shape

(10000, 10)

In [ ]:
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [ ]:
cat_cols = X.select_dtypes(["object"])
for i in cat_cols.columns:
    dummy = pd.get_dummies(X[i], drop_first=True)
    X = pd.concat([X,dummy], axis=1)
    X = X.drop(columns=i)

In [ ]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
print("trainning and test independent variables size:" f"{X_train.shape, X_test.shape}")
print("trainning and test dependent variables size:" f"{y_train.shape, y_test.shape}")

trainning and test independent variables size:((8000, 11), (2000, 11))
trainning and test dependent variables size:((8000,), (2000,))

In [ ]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [ ]:
from tensorflow import keras
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import GridSearchCV

In [ ]:
from keras.models import Sequential # for creating  
from keras.layers import Dense, Activation, Embedding, Flatten, LeakyReLU, BatchNormalization, Dropout # importing layers
from keras.activations import relu, sigmoid # importing activation functions

In [ ]:
def create_model(layers, activation): # two variables layer and activations
    model = Sequential() # creating the model pipeline
    for i, nodes in enumerate(layers):
        if i==0: # for first layer we have to input the number of features
            model.add(Dense(nodes, input_dim=X_train.shape[1])) # nodes = iterating, input_dim = features
            model.add(Activation(activation)) # activation = iterating
            model.add(Dropout(0.3)) # Regularization parameter
            
        else:
            model.add(Dense(nodes)) # nodes = iterating
            model.add(Activation(activation)) # activation = iterating
            model.add(Dropout(0.3)) # Regularization parameter
    
    # output layer 
    model.add(Dense(units=1, 
                    kernel_initializer="glorot_uniform",
                   activation="sigmoid"))
    
        # compiling the model
    model.compile(optimizer="adam",
                  loss="binary_crossentropy",# for binary calssification
                 metrics=["accuracy"])
    return model

model = KerasClassifier(build_fn=create_model, verbose=0) # we have to define the model

In [ ]:
layers = [[20],[40,20],[45,30,15]] # number of layers
activations = ["sigmoid","relu"] # activation functions 
# sequence for 20 it will use sigmoid then relu

param_grid = dict(layers=layers, 
              activation=activations, 
              batch_size=[128,256], 
              epochs=[30])

grid = GridSearchCV(estimator=model, param_grid=param_grid, cv=5)
#cross validation of 5 folds

In [ ]:
grid_result = grid.fit(X_train, y_train)

In [ ]:
[grid_result.best_score_,grid_result.best_params_]

[0.8537500023841857,
 {'activation': 'relu',
  'batch_size': 128,
  'epochs': 30,
  'layers': [45, 30, 15]}]

In [ ]:
# making predictions
y_pred = grid.predict(X_test)
y_pred = (y_pred > 0.5)
y_pred[:10]

/usr/local/lib/python3.7/dist-packages/keras/engine/sequential.py:450: UserWarning: `model.predict_classes()` is deprecated and will be removed after 2021-01-01. Please use instead:* `np.argmax(model.predict(x), axis=-1)`,   if your model does multi-class classification   (e.g. if it uses a `softmax` last-layer activation).* `(model.predict(x) > 0.5).astype("int32")`,   if your model does binary classification   (e.g. if it uses a `sigmoid` last-layer activation).
  warnings.warn('`model.predict_classes()` is deprecated and '

array([[False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True]])

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

from sklearn.metrics import accuracy_score
score=accuracy_score(y_test,y_pred)

In [ ]:
print(cm)
print(score)

[[1543   52]
 [ 222  183]]
0.863